@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes agregar reglas globales personalizadas aquí si lo necesitas */
/* Ejemplo:
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*/
